 <div class="header shadow"> 
    <i class="fa fa-trophy" aria-hidden="true"></i> PREMIOS  
 </div>
 <md-card @itemState>
     <p><i class="fa fa-money" aria-hidden="true"></i> Cuota: {{settings.price | currency:'EUR':true:'1.2-2'}}</p>    
     <p><i class="fa fa-trophy" aria-hidden="true"></i> Ganador Jornada: {{settings.win | currency:'EUR':true:'1.2-2'}}</p>  
     <p><i class="fa fa-star" aria-hidden="true"></i> Campeón: {{settings.champion | currency:'EUR':true:'1.2-2'}}</p>     
     <p><i class="fa fa-star-half-o" aria-hidden="true"></i> Subcampeón: {{settings.subchampion | currency:'EUR':true:'1.2-2'}}</p>  
</md-card>
